<div class="mt-4">
    <div class="row content">
        <div class="col-log-3">
            <h3>{{course.name}}</h3>
            <button>Learning</button>
        </div>
        <div class="col-log-9">
            <h2>{{courses.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}?si=OYKfQ7TZwmL0qwl-"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>{{course.description}}</p>
        </div>
    </div>
</div>